<html>
    <head>
        <title>Movies::Search | Home</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/home.css">
    </head>
<body>
    <form>
        <div class="con">
            <div class="centerdiv">
                <h1>MOVIES::SEARCH</h1>
                <input type="submit" class="button" value="OPEN" formaction="/dashboard">
            </div>
        </div>
    </form>
</body>

</html>