<input type="text" name="searchtext" id="searchtext">
<select name="searchoption" class="dropdown" id="searchoption" name="searchoption">
    <option value="title">Title</option>
    <option value="genre">Genre</option>
    <option value="language">Language</option>
    <option value="director">Director</option>
</select>
<input type="submit" value="Search">